# Virtualenvs
.venv/
venv/
env/
ENV/

# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE / Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Windows artifacts
.DS_Store
Thumbs.db
